<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"> 
    <title>Performance Test</title> 
</head>
<body>
    Image Folder Path: <input type="text" id="folderpath" name="folderpath" value="D:\test\BarcodePerformance\dataset"><br>
    <button type="button" onclick='createSession()'>Create Session</button>
    <p>A new window will open.</p>
    
<script>
    function createSession(){
        var url = "session/create";
        var xhr = new XMLHttpRequest();
        var pay_load = {};
        pay_load["folderpath"] = document.getElementById("folderpath").value;

        xhr.open('POST', url);
        xhr.setRequestHeader('content-type', 'application/json'); 

        xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
                console.log(xhr.status);
                console.log(xhr.responseText);
                if (xhr.status==200){
                    var session_id = JSON.parse(xhr.responseText)["session_id"];
                    window.open('/session.html?id='+session_id);
                }
            }
        }
        xhr.send(JSON.stringify(pay_load));
    }
</script>


</body>
</html>