<!DOCTYPE html>
<html>
<head> 
    <meta charset="utf-8"> 
    <title>Performance Test</title> 
</head>
<body>
    Image Folder Path: <input type="text" id="folderpath" name="folderpath" value="D:\test\BarcodePerformance\dataset"><br>
    <button type="button" onclick='createSession()'>Create Session</button>
    
    <div id="session">
        <p>Session: <span id="sessionId"></span></p>
        <button type="button" onclick='startSession()'>Start Session</button>
        <p>Progress: <span id="sessionProgress"></span></p>
        <button type="button" onclick='getStatistics()'>Get Statistics</button>
        <div id="statistics">
        </div>
    </div>
<script>
    var started = false;
    function createSession(){
        var url = "session/create";
        var xhr = new XMLHttpRequest();
        var pay_load = {};
        pay_load["folderpath"] = document.getElementById("folderpath").value;

        xhr.open('POST', url);
        xhr.setRequestHeader('content-type', 'application/json'); 

        xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
                console.log(xhr.status);
                console.log(xhr.responseText);
                if (xhr.status==200){
                    var session_id = JSON.parse(xhr.responseText)["session_id"];
                    document.getElementById("sessionId").innerText=session_id;
                }
            }
        }
        xhr.send(JSON.stringify(pay_load));
    }
    
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    
    function startSession(){
        if (started==true) {
            return;
        }
        started = true;
        var session_id = document.getElementById("sessionId").innerText;
        var url = "session/"+session_id+"/start";
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);

        xhr.onreadystatechange = async function(){
            if(xhr.readyState === 4){
                console.log(xhr.status);
                console.log(xhr.responseText);
                checkProgress();
            }
        }
        xhr.send();
    }
    
    function checkProgress(){
        var session_id = document.getElementById("sessionId").innerText;
        var url = "session/"+session_id+"/progress";
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);

        xhr.onreadystatechange = async function(){
            if(xhr.readyState === 4){
                console.log(xhr.status);
                console.log(xhr.responseText);
                var progress = xhr.responseText;
                
                if (progress.split("/")[0]!=progress.split("/")[1]){
                    document.getElementById("sessionProgress").innerText = progress;
                    await sleep(1000);
                    checkProgress();
                }else{
                    document.getElementById("sessionProgress").innerText = "Done!";
                }
                
            }
        }
        xhr.send();
    }
    
    function getStatistics(){
        var session_id = document.getElementById("sessionId").innerText;
        var url = "session/"+session_id+"/statistics";
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);

        xhr.onreadystatechange = async function(){
            if(xhr.readyState === 4){
                console.log(xhr.status);
                console.log(xhr.responseText);
                var data = JSON.parse(xhr.responseText);
                var overview = document.createElement("pre");
                overview.innerHTML = "Presion:"+data["precision"] +"\n" + "Accuracy: "+data["accuracy"];
                var statisticsContainer = document.getElementById("statistics");
                statisticsContainer.append(overview);
                statisticsContainer.append(createTable(data));
                
            }
        }
        xhr.send();
        
    }
    
    function createTable(data){
    
        var table = document.createElement('table');
        var thead = document.createElement('thead');
        var tbody = document.createElement('tbody');

        table.appendChild(thead);
        table.appendChild(tbody);
        
        let row_1 = document.createElement('tr');
        let heading_1 = document.createElement('th');
        heading_1.innerHTML = "Filename";
        let heading_2 = document.createElement('th');
        heading_2.innerHTML = "Detected Text";
        let heading_3 = document.createElement('th');
        heading_3.innerHTML = "Correct";

        row_1.appendChild(heading_1);
        row_1.appendChild(heading_2);
        row_1.appendChild(heading_3);
        thead.appendChild(row_1);
        
        
        var imgResults = data["img_results"];
        for (let key in imgResults) {
            var imgResult = imgResults[key];
            console.log(imgResult);
            var results = imgResult["results"];
            var barcodeText = "";
            for (var j=0;j<results.length;j++){
                var result = results[j];
                barcodeText = barcodeText +", "+ result["barcodeText"];
            }
            // Creating and adding data to second row of the table
            var row = document.createElement('tr');
            var c1 = document.createElement('td');
            c1.innerHTML = key;
            var c2 = document.createElement('td');
            c2.innerHTML = barcodeText;
            var c3 = document.createElement('td');
            c3.innerHTML = "True";

            row.appendChild(c1);
            row.appendChild(c2);
            row.appendChild(c3);
            tbody.appendChild(row);
           
        }
        return table;
    }
</script>


</body>
</html>